---
layout: default
title: Home
meta: "All kinds of cakes and cupcakes for any event "
showbanner: yes
bannertext: yay cupcakes!
---
<main class="content" role="main">
	<div class="grid">
		<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3"> <img class="img-flex" src="images/red-velvet.jpg" alt="main image"> </div>
		<div class="unit gutter unit-s-1 unit-m-2-3 unit-l-2-3">
			<h2>Welcome to Cupcake Castle</h2>
			<p>Welcome to cupcake castle! We are your one stop shop for all your cupcake and cookie needs. We have all or your favourite flavours plus many more for you to try if you dare. We have 3 locations around the ottawa area and are open for business. We also do catering for parties, and events.</p>
		</div>
	</div>
	<div class="grid grid-promo">
		<div class="unit gutter unit-s-1 unit-m-2 unit-l-1-2"> {% include large-promo.html title="Promo 1" desc="Super-duper sale!" %} </div>
		<div class="unit gutter unit-s-1 unit-m-1-4 unit-l-1-4"> {% include small-promo.html title="Promo 1" desc="Super-duper sale!" %} </div>
		<div class="unit gutter unit-s-1 unit-m-1-4 unit-l-1-4"> {% include small-promo-2.html title="Promo 1" desc="Super-duper sale!" %} </div>
	</div>
</main>
