---
layout: default
title: search
---
<div class="content">


<ul>
	{% for cupcake in site.pages %}
		{% if cupcake.type == 'cupcake' %}
			<li>
				<a href="{{cupcake.url}}">
				<img src="{{site.baseurl}}/images/{{cupcake.image}}" alt="">
				{{cupcake.title}}
				</a>
			</li>
		{% endif %}	
	{% endfor %}
</ul>


<ul>
	{% for cookies in site.pages %}
		{% if cookies.type == 'cookies' %}
			<li>
				<a href="{{cookies.url}}">
				<img src="{{site.baseurl}}/images/{{cookies.image}}" alt="">
				{{cookies.title}}
				</a>
			</li>
		{% endif %}	
	{% endfor %}
</ul>


<ul>
	{% for pies in site.pages %}
		{% if pies.type == 'pies' %}
			<li>
				<a href="{{pies.url}}">
				<img src="{{site.baseurl}}/images/{{pies.image}}" alt="">
				{{pies.title}}
				</a>
			</li>
		{% endif %}	
	{% endfor %}
</ul>



</div>
