User Report

	Tasks
	
	1. Check out the latest news
	
	
	User #1 : User clicked on news link. The link was for some reason not working. User couldnt access the latest news. 

	User #2 : User tried clicking on the promos to see if there were any links. Clicked news button. Didn't work. 
	
	User #3 : Clicked the home button and the news button. No luck with either. Checked out the products page just to see if there was a hidden link somewhere. 


	2. Read the description of the best looking cupcake
	
	User #1 : User clicked on products > cupcakes. clicked on a cupcake link  
	
	User #2 : user clicked on the products page then clicked on the cupcake links
	
	User #3 : user searched cupcakes. clicked a cupcake from that page. 
	
	
	3. Add an item to your cart
	
	User #1 : product page > cookies > chocolate chip cookie > order now  **no pictures for cookies 
	
	User #2 : Search > red velvet cupcake > order now
	
	User #3 : Products > cupcakes > Peanut butter > order now **asked why there is a no add to cart button. 