<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} - Cupcake Castle</title>
<meta name="description" content="{{page.meta}}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet"> 
<link href="{{site.baseurl}}/css/header.css"rel="stylesheet">
<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/bucket.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css"rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>

</head>

<body>

<header> 

<div class="wrapper">
	<header>
		<div class="left">Castle</div>
		<div class="right">Cupcake</div>
	</header>
	
<div class="logo-container"> <img src="{{site.baseurl}}/images/logo-placeholder.jpg" alt="logo"> </div>
	
<div>
<nav class="nav nav-top">
	<ul>
		<li><a  href="{{site.baseurl}}/">Home</a></li>
		<li><a  href="{{site.baseurl}}/products/">Products</a></li>
		<li><a  href="{{site.baseurl}}/news/">News</a></li>
		<li><a  href="{{site.baseurl}}/thank-you/">Thanks</a></li>
	</ul>
</nav>

</div>

<div class="btns">
	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="get" action="{{site.baseurl}}/search.html">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>

</div>

</header>



	


{% if page.showbanner %}	
	<div class="banner">
		<h4>{{page.bannertext}}</h4>
	</div>
{% endif %}


{{content}}




</body>
</html>

