<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} - Cupcake Castle</title>
<meta name="description" content="{{page.meta}}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{site.baseurl}}/css/cupcake-castle.css" rel="stylesheet"> 
<link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>

</head>

<body>
 

<header role="banner">
	<div class="logo-container"> <img src="{{site.baseurl}}/images/logo-placeholder.jpg" alt="cupcake castle logo"></div>
	<div class="wrapper">	
		<div class="right">Cupcake</div>
		<div class="left">Castle</div>
	</div>
	
	
</header>
	<nav class="nav nav-top" role="navigation">
			<ul>
				<li><a  href="{{site.baseurl}}/">Home {% page.url %}</a></li>
				<li><a  href="{{site.baseurl}}/products/index.html">Products</a></li>
				<li><a  href="{{site.baseurl}}/news.html">News</a></li>
				<li><a  href="{{site.baseurl}}/thank-you.html">Thanks</a></li>
			</ul>
		</nav>



<div class="btns">
	
	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="get" action="{{site.baseurl}}/search.html">
		        <input title="search" type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" class="tfbutton" role="search">
		</form>
	<div class="tfclear"></div>
	</div>

</div>


{% if page.showbanner %}	
	<div class="banner">
		<h4>{{page.bannertext}}</h4>
	</div>
{% endif %}


{{content}}



</body>
</html>


<!--** footer copyright info : role=" --> 
